.icon {
  display: inline-block;
  cursor: pointer;
}

.icon_refresh {
  background-image: url("../assets/img/controllers-icons/refresh.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 25px;
  height: 20px;
}

.icon_microphone {
  background-image: url("../assets/img/controllers-icons/microphone.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;
  height: 17px;
}