$controller-color-active: rgba(174, 181, 185, 0.5);
$controller-color-checked: rgba(255, 255, 255, 0.4);
$controller-color-hover: rgba(212, 220, 224, 0.5);
$arrow-color: rgba(255, 255, 255, 0.8);
$input-color: rgba(76, 82, 85, 0.4);
$color-light: #ffffff;