.other-days {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  & > * {
    flex-basis: 180px;
  }
}

.other-day {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.other-day__weather {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.other-day__weather-img {
  width: 60px;
  height: auto;
}

.other-day__degree {
  line-height: 7.8rem;
  .symbol {
    font-size: 4rem;
    vertical-align: super;
    line-height: 0;
  }
}

@media (max-width: 700px) {
  .other-days {  
    padding: 0 10px;
    & > * {
      flex-basis: 100px;
    }
  }

  .other-day {
    align-items: center;
  }

  .other-day__weather-img {
    width: 30px;
    height: auto;
  }

  .other-day__date {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .other-day__degree {
    font-size: 3rem;
    line-height: 2.8rem;
    .symbol {
      font-size: 2rem;
      vertical-align: super;
      line-height: 0;
    }
  }
}